.form__button {
    display: block;
    background-color: #000;
    color: #fff;
    border: 1px solid #696969;
    box-sizing: border-box;
    width: 174px;
    height: 27px;
    align-self: flex-end;
    font-size: 13px;
    line-height: 18px;
}

.form__button:focus {
    background-color: #4d5d53;
}

.form__button:hover {
    background-color: #4d5d53;
}