.form__fieldset {
    display: flex;
    flex-direction: column;
    max-width: 308px;
    border: 0;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .form__fieldset {
        margin: 0 auto;
    }
}