.header {
    max-width: 1110px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
    padding: 44px 60px 73px 60px;
}

@media (max-width: 1024px) {
    .header {
        padding: 44px 6vw 73px 6vw;
    }
}