.places__textblock {
  width: 50%;
  /* padding: 56px 59px 73px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .places__textblock {
    width: 100%;
  }
}
