.intro {
  display: flex;
  max-width: 1110px;
  padding: 0 60px 0 60px;
  margin: 0 auto 113px;
  align-items: stretch;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: var(--margin-vertical-bottom-general);
  }
}
