.intro {
    display: flex;
    max-width: 1110px;
    padding: 0 60px 0 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}


@media (max-width: 855px) {
    .intro {
        display: block;
        padding: 0 20px 0 20px;
        padding: 0 6vw 0 6vw;
    }
}