.quotes {
  margin: 118px 60px;
}

@media (max-width: 1024px) {
  .quotes {
    margin: 14vw 6vw;
  }
}

@media (max-width: 520px) {
  .quotes {
    margin: 18vw 6vw;
  }
}

.label {
  color: #fed0ad;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
